@import "_config";
@import "node_modules/bootstrap/scss/bootstrap";
$primary-color: $primary;
$item-active-color: $primary;
@import "node_modules/vue-sidebar-menu/src/scss/vue-sidebar-menu.scss";
@import "_music";



//transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.dark,
.light {
  @include easeOut;
}

